@use "settings/color";

$_default-hover-color: color.$primary-dark;

@mixin covert-link($hover-color: $_default-hover-color) {
  color: inherit;
  cursor: pointer;
  display: inline;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}
