@forward "typography-global";

@use "sass:list";
@use "sass:map";
@use "settings/font";
@use "baseline";
@use "typography-global" as global-typography;

$_h1-line-height: baseline.$unit-medium;
$_h2-line-height: (baseline.$unit-small + baseline.$unit-smallish) / 2;
$_default_line-height: baseline.$unit-small;
$_font-family: font.$secondary;
$_font-weight: font.$heading-weight;

@mixin h1-typography() {
  @include _typography(7, $_h1-line-height);
}

@mixin h2-typography() {
  @include _typography(4, $_h2-line-height);
}

@mixin h3-typography() {
  @include _typography(3, $_default_line-height);
}

@mixin h4-typography() {
  @include _typography(2, $_default_line-height);
}

@mixin h5-typography() {
  @include _typography(1, $_default_line-height);
}

@mixin h6-typography() {
  @include _typography(0, $_default_line-height);
}

@mixin _typography($scale-point, $line-height) {
  font-family: $_font-family;
  font-weight: $_font-weight;

  @include global-typography.set-font-size-and-line-height(baseline.scale($scale-point), $line-height);
}

h1 {
  @include h1-typography();
}

h2 {
  @include h2-typography();
}

h3 {
  @include h3-typography();
}

h4 {
  @include h4-typography();
}

h5 {
  @include h5-typography();
}

h6 {
  @include h6-typography();
}
