@use "../../../shared-styles/normalize"; // Always used first
@use "../../../shared-styles/link";
@use "../../../shared-styles/spacing";
@use "../../../shared-styles/typography";

.content-meta {
  @include typography.list-style-none();
  @include spacing.block-spacing();
}

.content-meta__item {
  display: inline-block;
  text-transform: uppercase;
  color: rgb(33, 33, 33);

  .content-meta--reverse & {
    color: inherit;
  }

  &:after {
    content: "\a0\2022\a0";
  }

  &:last-child:after {
    content: "";
  }
}

.content-meta__link {
  color: inherit;

  .content-meta--reverse & {
    &:hover {
      color: inherit;
    }
  }
}