@use "../../../shared-styles/normalize"; // Always used first
@use "../../../shared-styles/font";
@use "../../../shared-styles/color";
@use "../../../shared-styles/link";
@use "../../../shared-styles/spacing";
@use "../../../shared-styles/typography";
@use "../../../shared-styles/utilities";

$info-bar-gutter: 8px !default;
$info-bar-image-offset: font.$size !default;

.info-bar {
  @include typography.label-content-typography($uppercase: false);
  color: color.$text-reverse;
  text-align: center;

  @supports (display: flex) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    @include link.subtle();
  }
}

.info-bar--attention {
  background-color: color.$attention;
  padding: 10px;
}

// .info-bar--info {
//   background-color: $color.$information;
// }

// .info-bar--success {
//   background-color: $color.$success;
// }

// .info-bar--warning {
//   background-color: $color.$warning;
// }

// .info-bar__image {
//   vertical-align: top;
// }

.info-bar__image {
  // TODO: Add block-size mixin as logical properties are included.
  // TODO: Add margin mixin as logical properties are included.
  vertical-align: top;

  @supports (display: flex) {
    // TODO: Add block-size mixin as logical properties are included
    // TODO: Add max-block-size mixin as logical properties are included
  }
}
