@use "../../../shared-styles/normalize"; // Always used first
@use "../../../shared-styles/decoration.scss";
@use "../../../shared-styles/grid.scss";

.page-grid {
  @include grid.base(grid.$max-inline-size);
  grid-template-areas:
    "start"
    "main"
    "end";
}

.page-grid__start {
  grid-row: start;
  @include decoration.border(block-end);
}

.page-grid__main {
  grid-row: main;
}

.page-grid__end {
  grid-row: end;
  @include decoration.border(block-start);
}
