@use "~modularscale-sass/stylesheets/modularscale";
@use "scale";

//----------------------------------------------------------------------------------------------------------------------
// Baseline grid lines height.
//
// Every spacing metric should be based on this.
// All commented sizes assume a scale base of 16px.
//
$_baseline-unit: scale.$base * 0.375; // 6px

//----------------------------------------------------------------------------------------------------------------------
// Spacing values determined by the global baseline grid.
//
@function calculateSizeFromUnits($factor) {
  @return $_baseline-unit * $factor;
}

$_size-1: calculateSizeFromUnits(1); // 6px
$_size-2: calculateSizeFromUnits(2); // 12px
$_size-3: calculateSizeFromUnits(3); // 18px
$_size-4: calculateSizeFromUnits(4); // 24px
$_size-5: calculateSizeFromUnits(5); // 30px
$_size-6: calculateSizeFromUnits(6); // 36px
$_size-7: calculateSizeFromUnits(7); // 42px
$_size-8: calculateSizeFromUnits(8); // 48px
$_size-9: calculateSizeFromUnits(9); // 54px
$_size-10: calculateSizeFromUnits(10); // 60px
$_size-11: calculateSizeFromUnits(11); // 66px
$_size-12: calculateSizeFromUnits(12); // 72px
$_size-13: calculateSizeFromUnits(13); // 78px
$_size-14: calculateSizeFromUnits(14); // 84px
$_size-15: calculateSizeFromUnits(15); // 90px
$_size-16: calculateSizeFromUnits(16); // 96px
$_size-17: calculateSizeFromUnits(17); // 102px
$_size-18: calculateSizeFromUnits(18); // 108px
$_size-19: calculateSizeFromUnits(19); // 114px
$_size-20: calculateSizeFromUnits(20); // 120px
