$primary: rgb(2, 119, 189) !default;
$text-reverse: rgb(255, 255, 255) !default;
$information: rgb(2, 136, 209) !default;
$success: rgb(98, 159, 67) !default;
$success_dark: rgb(86, 144, 55) !default;
$attention: rgb(207, 12, 78) !default;
$warning: rgb(230, 81, 0) !default;