$primary: rgb(2, 119, 189) !default;
$primary-dark: rgb(2, 119, 189) !default;
$text-normal: rgb(33, 33, 33) !default;
$text-secondary: rgb(102, 102, 102) !default;
$text-secondary__reverse: rgb(158, 158, 158) !default;