@use "color";
@use "utilities";

@mixin covert($hover-color: color.$primary) {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $hover-color;
  }
}

@mixin subtle() {
  @include utilities.inherit-all($ensure: color) {
    cursor: pointer;
    display: inline;
    text-decoration: underline;
  }
}

.info-bar--attention {
  background-color: color.$attention;
}
