@use "font";
@use "space";
@use "typography";

//----------------------------------------------------------------------------------------------------------------------
// Typography.
//

html {
  font-size: font.$size;
}

body {
  @include typography.body();
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

h1 {
  @include space.h1();
  @include typography.h1();
}

h2 {
  @include space.h2();
  @include typography.h2();
}

h3 {
  @include space.h3();
  @include typography.h3();
}

h4 {
  @include space.h4();
  @include typography.h4();
}

h5 {
  @include space.h5();
  @include typography.h5();
}

h6 {
  @include space.h6();
  @include typography.h6();
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;  /* stylelint-disable-line csstools/use-logical */
}

sup {
  top: -0.5em;  /* stylelint-disable-line csstools/use-logical */
}

b,
strong {
  font-weight: bolder;
}

p {
  @include spacing.block-spacing();
}
