@use "baseline";
@use "color";
@use "font";
@use "rem";
@use "scale";
@use "spacing";
@use "utilities";

@mixin body() {
  @include _typography();
}

@mixin h1() {
  @include _heading($scale-point: 7, $baseline-units: 8);
}

@mixin h2() {
  @include _heading($scale-point: 4, $baseline-units: 5);
}

@mixin h3() {
  @include _heading($scale-point: 3);
}

@mixin h4() {
  @include _heading($scale-point: 2);
}

@mixin h5() {
  @include _heading($scale-point: 1);
}

@mixin h6() {
  @include _heading($scale-point: 0);
}

@mixin _heading($scale-point, $baseline-units: 4) {
  @include _typography($scale-point, $baseline-units, font.$secondary, 600);
}

@mixin _typography($scale-point: 0, $baseline-units: 4, $font-family: font.$primary, $font-weight: 400) {
  $_font-size: scale.at-point($scale-point);
  $_baseline-size: baseline.for-units($baseline-units);

  font-family: $font-family;
  font-size: rem.calculate($_font-size);
  font-weight: $font-weight;
  line-height: $_baseline-size / $_font-size;
}

@mixin list-style-none() {
  @include spacing.padding(0, inline-start);
  // Overflow auto is so the bullet will be still read from a screen reader and will push the bullet off screen
  overflow-x: auto;
}
