@use "baseline";
@use "font";
@use "rem";
@use "scale";

@mixin body() {
  @include _typography();
}

@mixin h1() {
  @include _heading(7, $block-size-baseline-units: 8);
}

@mixin h2() {
  @include _heading(4, $block-size-baseline-units: 5);
}

@mixin h3() {
  @include _heading(3);
}

@mixin h4() {
  @include _heading(2);
}

@mixin h5() {
  @include _heading(1);
}

@mixin h6() {
  @include _heading(0);
}

@mixin _heading($scale-point, $block-size-baseline-units: 4) {
  @include _typography($scale-point, $block-size-baseline-units, font.$secondary, 600);
}

@mixin _typography($scale-point: 0, $block-size-baseline-units: 4, $font-family: font.$primary, $font-weight: 400) {
  $_font-size: scale.at($scale-point);

  font-family: $font-family;
  font-size: rem.calculate($_font-size);
  font-weight: $font-weight;
  line-height: baseline.calculateSizeFromUnits($block-size-baseline-units) / $_font-size;
}
