@use "font";

$space-extra_small: font.$size * 0.75 !default;
$space-small: $space-extra_small * 2 !default;
$space-smallish: $space-small * 1.5 !default;
$space-medium: $space-small * 2 !default;
$space-large: $space-small * 3 !default;
$space-extra_large: $space-small * 5 !default;
