$letterspacing-label: 0.5px !default;
$primary: "Noto Serif", serif !default;
$secondary: "Noto Sans", Arial, Helvetica, sans-serif !default;
$monospace: "Courier 10 Pitch", Courier, monospace !default;
$size: 16px !default;
