$edge_space-medium: 7vw !default;
$edge_space-large: 14vw !default;
$min_width: 320px !default;
$max_width: 1114px !default;
$main_column_count: 12 !default;
$column_gap: 1.6% !default;
$divider_size: 1px !default;
