@import "../../../../core-styles/mixins/decorations";
@import "../../../../core-styles/mixins/spacing";
@import "../../../../core-styles/settings/baselinegrid";
@import "../../../../core-styles/settings/color";

$image-inline-spacing: $baselinegrid-space-extra_small !default;

.image {
  @include block-spacing($start: $baselinegrid-space-medium, $end: $baselinegrid-space-medium);
  @include border();
  @include padding($baselinegrid-space-extra_small $image-inline-spacing);
  display: block;
}

.image__img {
  display: block;
  width: 100%;
}
