/* stylelint-disable */
@use "test" as *;
@use "../../src/shared-styles/normalize";

@include describe("@mixin list-style-none") {

  @include it("generates a value of zero for padding-inline") {

    @include assert() {

      @include output {
        @include normalize.list-style-none();
      }

      @include expect {
        overflow-x: auto;

        html[dir="ltr"] &:not([dir]),
        &[dir="ltr"] {
          padding-left: 0;
        }
        html[dir="rtl"] &:not([dir]),
        &[dir="rtl"] {
          padding-right: 0;
        }
        html[dir][dir] & {
          padding-inline-start: 0;
        }
      }

    }
  }
}
